button.btn.btn-primary.me-md-2 {
    background-color: black;
    border-color: white;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: left;
}

button.btn.btn-primary.me-md-2:active {
    color: black;
  }

nav.navbar.navbar-expand-sm {
    background-color: rgb(0, 128, 255);
}

ul.navbar-nav{
    position:relative; 
    left:30px;
}

#navbarDropdown, #navbarDropdown2, #navbarDropdown3, #navLink {
    font-weight: 500;
    text-transform: uppercase;
}

a.nav-link.active{
    color: white;
    
}

a.navbar-brand{
    color: black;
    position:relative; 
    left:20px; 
    top:-1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
a.navbar-brand:hover{
    color: black;
}

a.dropdown-item{
    color: white;
}

div.dropdown-menu{
    background-color: black;
}

div.container {
    position:relative; 
    left:40px;
}
