nav.navbar.navbar-expand-sm {
    background-color: rgb(0, 128, 255);
}

ul.navbar-nav {
    position: relative;
    left: 30px;
}

#navbarDropdown,
#navbarDropdown2,
#navbarDropdown3,
#navLink {
    font-weight: 500;
    text-transform: uppercase;
}

a.nav-link.active{
    color: white;
    
}

a.navbar-brand{
    color: black;
    position:relative; 
    left:20px; 
    top:-1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
a.navbar-brand:hover{
    color: black;
}

a.dropdown-item{
    color: white;
}

div.dropdown-menu{
    background-color: black;
}

#createId {
    position: relative;
    left: 120px;
    background-color: black;
    text-transform: uppercase;
    font-size: smaller;
    top: 2.5px;
}

div.card{
    margin-left: 10px;
    margin-top: 10px;
}
