button.btn.btn-primary.me-md-2 {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(222, 116, 187, 1) 0%, rgba(255, 102, 0, 1) 100%, rgba(90, 255, 0, 1) 100%);
    color: black;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: left;
    font-family: "Century Gothic", AppleGothic, sans-serif;
    font-weight: 300;
    border: none white;
}
body{
    background-color: #ffeaa9;
}

button.btn.btn-primary.me-md-2:active {
    color: black;
}

nav.navbar.navbar-expand-sm {
    background-color: #ec746c;
}

ul.navbar-nav {
    position: relative;
    left: 30px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#navbarDropdown,
#navbarDropdown2,
#navbarDropdown3,
#navLink {
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

a.nav-link.active {
    color: black;
}

a.navbar-brand {
    color: white;
    position: relative;
    left: 20px;
    top: -1px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
    font-weight: bold;
}

a.navbar-brand:hover {
    color: black;
}

a.dropdown-item {
    color: black;
}

div.dropdown-menu {
    background-color: white;
}

div.container {
    position: relative;
    left: 40px;
}